extends layout.pug

block content
  script(src="/hello.js")
  span This graphic is optimized for a 16-inch MacBook Pro using Chrome at mid-magnification.
  button(type="button") Toggle line-visibility
  span Circle size
  each size in sizes
    input(type="radio" name="size" id=`${size.label}` value=`${size.label}` checked=size.isChecked)
    label(for=`${size.label}`) #{size.label}
  svg(height=`${svg.size.y}`, width=`${svg.size.x}`)
    g(transform=`translate(${svg.padding.x}, ${svg.padding.y})`)
